bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/*
LeadersOfDigital/LeadersOfDigital.Android/Resources/Resource.designer.cs

# Mobile.BuildTools
secrets.json
/Artifacts/*
/.vs

/src/LearnEnglish.XN.Core/Definitions/Constants/Secrets.cs
